<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<div>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="margin: 0px;border-radius: 0px;font-size: 20px;min-height:80px;">
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" style="padding-left: 3.0rem;" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="padding-left: 3.0rem;" href="/map">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="padding-left: 3.0rem;" href="/chart">Graph</a>
        </li>
        </ul>
    </div>
</nav> 
</div>
<div style="width: 50%;height: 600px;margin-top: 100px;margin: auto;">
    <h2>2018 Negative tweets number and 2018 Unemployment Rate of Cities</h2>
    <canvas id="myChart1" width="100" height="100" ></canvas>
    <br><br>
    <h2>2018 Health,Homeless and Unemployment Rate</h2>
    <h5>（Bubble size is health risk rate）</h5>
    <canvas id="myChart2" width="100" height="100" ></canvas>
    <br><br>
    <h2>2018 and 2020 Negative tweets number of Cities</h2>
    <canvas id="myChart3" width="100" height="100" ></canvas>        
</div>
<script>
var ctx1 = document.getElementById('myChart1');
var ctx2 = document.getElementById('myChart2');
var ctx3 = document.getElementById('myChart3');
var cur_neg_tweets={{ cur_neg_tweets | safe }};
var state={{ state | safe }};
var unemployment_rate={{ unemployment_rate | safe }};
var health={{ health | safe}};
var homeless={{ homeless_count | safe}};
var city_tweets={{city_tweets  | safe}}
var i;
var bubble_datasets_arr=[];
var color_set=["#90EE90","#FFB6C1","#FFA07A","#87CEFA","#9370DB","#FFDEAD","#778899"]
for (i=0;i<state.length;i++){
    bubble_datasets_arr.push(
        {
            label:state[i],
            data:[{
                x:homeless[i],
                y:unemployment_rate[i],
                r:health[i]
            }],
            borderColor:color_set[i],
            backgroundColor:color_set[i]
        }
    )
}
var myChart = new Chart(ctx1, {
    type: 'bar',     
    data: {
        labels: ['melbourne', 'brisbane', 'perth', 'adelaide', 'sydney'],
        datasets: [{
            label: 'Negative Tweets Number',
            data: city_tweets,
            backgroundColor: '#FFA07A',
            borderColor: '#FFA07A',
            borderWidth: 1,
            order:2
        
        },{
            label: '2018 Unemployment Rate(%)',
            data: unemployment_rate,
            type: 'line',
            order:1,
            pointBackgroundColor:'#FFB6C1',
            borderColor:'#FFB6C1',
            borderDash:[10,5],
            pointRadius:10,
            fill:false
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
}); 
var myChart = new Chart(ctx2, {
    type: 'bubble',     
    data: {
        datasets:bubble_datasets_arr
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                
                scaleLabel:{
                    labelString:"Unemployment rate(%)",
                    display:true
                },
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes:[{
                display:true,
                scaleLabel:{
                    labelString:"Total Homeless People",
                    display:true
                },
                ticks: {
                    beginAtZero: false
                }
            }],
        }
    }
});     
var myChart = new Chart(ctx3, {
    type: 'bar',     
    data: {
        labels: ['melbourne', 'brisbane', 'perth', 'adelaide', 'sydney'],
        datasets: [{
            label: '2018 Negative Tweets Number of Cities',
            data: city_tweets,
            backgroundColor: '#FFA07A',
            borderColor: '#FFA07A',
            borderWidth: 1,
            order:1
        },{
            label: '2020 Negative Tweets Number of Cities',
            data: cur_neg_tweets,
            backgroundColor: '#87CEFA',
            borderColor: '#87CEFA',
            borderWidth: 0.5,
            order:2
        }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
}); 
</script>
